@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
  max-width: 72em;
  margin-left: auto;
  margin-right: auto;
}

ul, 
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}

a {
	color: #131212;
	text-decoration: none;
}

a:hover, a:focus {
	color: #efe4b9;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.25em;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#maincontentrest {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  #maincontentrest {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


#footer {
  background-color: #7f4145;
  color: #fff;
  font-size: .9em;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #7f4145;
  text-align:center;
}

nav h1 {
  margin: auto;
  padding: 1.5em 0em;
}

nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: .5em;
  text-transform: uppercase;
}

@media only screen and (min-width: 750px) {
  nav h1 a {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1024px) {
  nav h1 a {
    font-size: 1.5em;
  }
}

#breadcrumb {
    padding: .5em;
    list-style: none;
    background-color: #eee;
    font-size: .9em;
    margin: 0;
    max-width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 25em;
  width: 26em;
  background-color: #ccc;
}

@media only screen and (min-width: 750px) {
  #map {
    width: 64em;
  }
}

@media only screen and (min-width: 1024px) {
  #map {
    width: 86em;
  }
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 92%;
  height: 100%;
  padding: 1em;
  background-color: #7f4145;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .filter-options {
    width: 97%;
  }
}

.filter-options h2 {
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 0 1.25em;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: .825em;
  height: 2.18em;
  letter-spacing: 0;
  margin: .625em;
  padding: 0 .625em;
  width: 12.5em;
}



/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1.875em 0.9375em 3.75em;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  max-width: 30em;
  width: 72%;
  align-items: center;
}

@media only screen and (min-width: 1025px) {
  #restaurants-list li {
  width: 22%;
  }
}

@media only screen and (min-width: 750px){
  #restaurants-list li {
    width: 36%;
  }
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #7f4145;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: .9em;
  
}

#restaurants-list li button {
  background-color: #7f4145;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: .9em;
  margin: 1em 0 0;
  padding: 1em 2em .9em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 16em;
  cursor: pointer;
}

/* ====================== Restaurant Details ====================== */
/*.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}*/

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 18.5em;
}
.inside #map {
  background-color: #ccc;
}
/*
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}*/

#restaurant-name {
  color: #7f4145;
  font-family: Arial,sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0em 0 1em;
  text-transform: uppercase;
  line-height: 1.1;
}

@media only screen and (min-width: 750px) {
  #restaurant-name {
    margin: 0em 0 1em;
  }
}

@media only screen and (min-width: 1024px) {
  #restaurant-name {
    margin: 1em 0 1em;
  }
}

#restaurant-img {
	width: 100%;
}

@media only screen and (min-width: 1024px) {
  #restaurant-img {
    width: 90%;
  }
}

#restaurant-address {
  font-size: 1em;
  margin: .9em .9em;
}

#restaurant-cuisine {
  background-color: #7f4145;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

@media only screen and (min-width: 1024px) {
  #restaurant-cuisine {
    width: 90%;
  }
}

#restaurant-container, 
  #reviews-container {
    padding: 4em 0px 0px;
    width: 90%;
  }

@media only screen and (min-width: 750px) {
  #restaurant-container, 
  #reviews-container {
    padding: 3em 1em 0em 2em;
    width: 43%;
    align-self: start;
  }
}

@media only screen and (min-width: 1024px) {
  #reviews-container {
    padding: 4em 3em 0px 0px;
  }
}

#reviews-container h2 {
  color: #814245;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-transform: uppercase;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 1em;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

.aria-label {
  display: none;
}